* {
  box-sizing: border-box;
  font-size: 14px;
}

.container {
  border-bottom: 1px solid #5250507e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.red {
  color: red;
  padding: 0;
  margin: 0;
}

.textRight {
  text-align: right;
}

.textCenter {
  text-align: center;
}
